version: "3.3"

services:

  # ----------------- #
  # Apache Spark      #
  # ----------------- #

  jupyterlab:
    image: jupyter/pyspark-notebook:spark-3.3.2
    container_name: jupyterlab
    ports:
      - 8888:8888
      - 4040:4040
    volumes:
      - ./data:/data
      - ./src:/src

  spark:
    image: docker.io/bitnami/spark:latest
    container_name: master

    environment:
      - SPARK_MODE=master
    ports:
      - 8080:8080
      - 7077:7077
    volumes:
      - ./data:/data
      - ./src:/src
  spark-worker1:
  
    image: docker.io/bitnami/spark:latest
    container_name: worker1

    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
      - SPARK_WORKER_MEMORY=3G
      - SPARK_EXECUTOR_MEMORY=3G
      - SPARK_WORKER_CORES=3
    ports:
      - 8081:8081
    volumes:
      - ./data:/data
      - ./src:/src 
    depends_on :
      - spark

  spark-worker2:
    image: docker.io/bitnami/spark:latest
    container_name: worker2

    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
      - SPARK_WORKER_MEMORY=3G
      - SPARK_EXECUTOR_MEMORY=3G
      - SPARK_WORKER_CORES=3
    ports:
      - 8082:8081
    volumes:
      - ./data:/data
      - ./src:/src 
    depends_on :
      - spark


  # ----------------- #
  # Apache Kafka      #
  # ----------------- #
  zookeeper:
    image: confluentinc/cp-zookeeper:latest.arm64
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:latest.arm64
    container_name: broker
    ports:
      - "9092:9092"
      - "1099:1099"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    volumes:
      - ./data:/data
      - ./src:/src 